include ../../admin/views/includes/head.jade

body.hold-transition.skin-blue.sidebar-mini
	.wrapper
		include ../../admin/views/includes/header.jade
		include ../../admin/views/includes/aside.jade

		// Content Wrapper. Contains page content
		.content-wrapper
				// Content Header (Page header)
				section.content-header
					h1 AdminHB | Geolocalized users
						span= title
					ol.breadcrumb
						li
							a(href='#')
								i.fa.fa-dashboard
								|  Home
						li
							a(href='#') Users
						li.active Geolocalized
				// Main content
				section.content
					div.box					
						div.box-body.no-padding
							div#map(style="height:680px; width:100%;")

	script.
		var map = L.map('map').setView([36, 0], 1);

		L.tileLayer('https://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
			subdomains:['mt0','mt1','mt2','mt3'],
		    attribution: 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		    maxZoom: 18
		}).addTo(map);

		map.setZoom(2);

		var data = !{JSON.stringify(geolocalized)};
		$.each (data, function (ui) {
			var u = data[ui];
			L.marker([u.location.coordinates[1], u.location.coordinates[0]]).addTo(map).bindPopup(u.username);	
		});	

