include includes/head.jade

body.hold-transition.skin-blue.sidebar-mini
	.wrapper
		include includes/header.jade
		include includes/aside.jade

		// Content Wrapper. Contains page content
		.content-wrapper
				// Content Header (Page header)
				section.content-header
					h1 AdminHB | Error
					ol.breadcrumb
						li
							a(href='#')
								i.fa.fa-dashboard
								|  Error
						li.active Unauthorized
				// Main content
				section.content
				